*{
    transition: all .5s cubic-bezier(0.26, 0.67, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    padding: 20px;
}

h1{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

img{
    border: dashed gray 3px;
    width: 80%;
    height: 20%;
}

.tags{
    display: flex;
    padding: 0;
    gap: 10px;
}

.tags li{
    list-style: none;
    
    border: solid black 2px;
    padding: 5px;
    font-size: 85%;
}

.container{        
    max-width: 95vw;
    min-height: 90vh;

    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

#bookmarks-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

/* This just outlines all of the items in the grid container for visibility */
.container > *{
    border: dashed black 2.5px;
    margin: 0;
    justify-items: center;
    position: relative;
}

#spacer{
    opacity: 10%;
}

#nav{
    grid-row: span 3;
    grid-auto-flow: column;
    padding: 5%;
    display: inline;
}
#nav-not-logged-in{
    grid-row: span 3;
    grid-auto-flow: column;
    padding: 5%;
    display: inline;
}

#nav-not-logged-in div{
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.back-button{
    width: 10%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
    text-decoration: none;
}

.container:has(#nav input:checked){
    grid-template-columns: 80% 20%;
}

.check {
    position: relative;
    height: 70px;
    width: 70px;
}

#checkbox{
    display: none;
}

label{
    cursor: pointer;
    padding: 4px;
}

#nav-icon{
  width: 90%;
  height: 8px;
  background-color: black;
  margin-bottom: 8px;
}

.check:checked ~ #nav-reveal {
    display: grid;
}

#nav-reveal{
    width: 100%;
    height: 80%;
    background-color: lightgray;
    display: none;
    padding-left: 10%;
    padding-top: 10%;
}

#nav-reveal div {
    width: 90%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-reveal a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}


.carousel{
    background: lightgrey;

    padding: 40px;

    display: grid;
    grid-auto-flow: column;
    place-items: center;

}

#carousel-events{
    margin: 0;
}

.resource-preview{
    background: lightblue;

    position: relative;
    padding: 15px;

    width: 70%;
    height: 100%;
}

.resource-preview a{
    display: block;
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#info{
    display: grid;
    grid-template-columns: 65% 35%;
}

#info a{
    background-color: grey;
    border: solid black 2px;
    padding: 5px;
    font-size: 20px;
}

#stars{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.checked{
    color: rgb(250, 202, 27);
}

.fa-star-half-o{
    color: rgb(250, 202, 27);
}

#bookmark{
    margin-left: 15px;
}

#bookmark i{
    color: cornflowerblue;
}

#upload{
    width: 100%;
    height: 30vh;
    background: grey;
}